ion-content {
  --ion-background-color: var(--ion-color-netfly-dark);

  h3 {
    margin-left: 15px;
  }

  ion-card {

    ion-label {
      margin-left: 15px;
    }

    p {
      text-align: justify;
      margin: 17px;
      color: #c5c5c5;
      font-size: 13px;
    }

    h3 {
      margin-inline: 10px;
    }
  }
}

ion-searchbar {
  --ion-background-color: var(--ion-color-netfly-dark);
  background-color: black;
}

.dp-none {
  display: none;
}

.dp-bloc {
  display: block;
}