<ion-content [fullscreen]="true" class="background">
  <div class="flex-center">
    <ion-card class="card">
      <ion-card-header>
       <img src="assets/F3.png" alt="">
      </ion-card-header>
      <ion-card-content>
        <form class="item">
            <ion-item>
              <ion-input type="text" id="email" placeholder="Email"></ion-input>
            </ion-item>
        </form>
        <ion-button  class="but" (click)="reset()"> reset </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

