
.bg-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.678), #222428, url("../../../assets/img/ca3.jpeg"));
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #d2e4e6;

}