<ion-tabs>
  <ion-tab-bar slot="bottom" color="netfly-dark" image="netfly-tabs">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="download">
      <ion-icon name="download"></ion-icon>
    </ion-tab-button>

    <!-- <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->


    <ion-tab-button tab="more">
      <ion-menu-button name="ellipsis-horizontal-outline"></ion-menu-button>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>