<ion-tabs>
  <ion-tab-bar slot="bottom" color="netfly-dark" class="first-tabs">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>Home
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>Search
    </ion-tab-button>

    <ion-tab-button tab="download">
      <ion-icon name="download"></ion-icon>Download
    </ion-tab-button>

    <ion-tab-button>
      <ion-menu-button name="ellipsis-horizontal-outline"></ion-menu-button>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="top" class="second-tabs" color="netfly-dark">
    <ion-tab-button tab="all">All</ion-tab-button>

    <ion-tab-button tab="tv">Action</ion-tab-button>

    <ion-tab-button tab="movies"> Horror</ion-tab-button>

    <ion-tab-button tab="mylist">My list</ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
