<ion-content>
  <div class="flex-center">
    <ion-card class="card">
      <ion-card-header>
        <img src="assets/F4.png" alt="">
      </ion-card-header>
      <ion-card-content class="card">
        <p> Passionate about movies, you are in the right place, please continue to sweeten your eyes </p>
        <ion-button (click)="gotosingIn()">
          JOIN NOW
        </ion-button>

        <div class="flex">
          <div>
            <a href="">Already have an Account?</a>
          </div>
          <div (click)="gotosingIn()">
            <p><a>Login</a></p>
          </div>
        </div>
      </ion-card-content>


    </ion-card>
  </div>
</ion-content>