<ion-app>

    <ion-header [translucent]="true">
        <ion-toolbar color="netfly-dark">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
              </ion-buttons>
            <ion-title class="ion-text-center">
                <img class="logo-header" src="../../assets/img/funflix.png">
            </ion-title>
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon name="tv"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>


    <ion-split-pane contentId="menu_cinema">
        <ion-menu contentId="menu_cinema" menuId="pearl_sale" class="bg_side" type="overlay">
            <ion-content>
                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['home']">
                        <ion-icon slot="start" name="home"></ion-icon>
                        <ion-label> Home </ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['categorie']">
                        <ion-icon slot="start" name="diamond-outline"></ion-icon>
                        <ion-label> Category </ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['help']">
                        <ion-icon slot="start" name="help"></ion-icon>
                        <ion-label>Help</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['a-propos']">
                        <ion-icon slot="start" name="trail-sign"></ion-icon>
                        <ion-label> About </ion-label>
                    </ion-item>
                </ion-menu-toggle>

            </ion-content>
        </ion-menu>

        <ion-router-outlet id="menu_cinema">

        </ion-router-outlet>
    </ion-split-pane>
</ion-app>