<ion-app>

    <ion-split-pane contentId="menu_cinema">
        <ion-menu contentId="menu_cinema" menuId="pearl_sale" class="bg_side" type="overlay">
            <ion-content color="netfly-dark">
                <ion-menu-toggle autoHide="false">
                    <div class="account">
                        <form action="">
                            <label for="imgUser" >
                                <ion-avatar  [routerLink]="['profile']" >
                                    <img [src]="['assets/img/funflix.png']" />
                                </ion-avatar>
                            </label>
                            <input type="file" name="imgUser" id="imgUser">
                        </form>

                        <ion-label>Name user</ion-label>
                    </div>
                </ion-menu-toggle>

                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['profile']" color="netfly-dark">
                        <ion-label> Account </ion-label>
                    </ion-item>
                </ion-menu-toggle>


                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['help']" color="netfly-dark">
                        <ion-label>Help</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle autoHide="false">
                    <ion-item [routerLink]="['a-propos']" color="netfly-dark">
                        <ion-label> About </ion-label>
                    </ion-item>
                </ion-menu-toggle>

            </ion-content>
        </ion-menu>

        <ion-router-outlet id="menu_cinema">

        </ion-router-outlet>
    </ion-split-pane>
</ion-app>