<ion-content>

  <ion-slides [options]="swipper" pager="md">
    <ion-slide *ngFor="let item of tabVideoSlide">
      <ion-card>
        <img class="img-intro" src={{item.Poster}} (click)="openModalDetail(item)">
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-card color="netfly-dark-tint">
    <div class="box-title">

      <h3>All</h3>
      <p [routerLink]="['all']">See all</p>
    </div>

    <div class="container-scroll">
      <div class="movie posiAbsolute">
        <p>Les meilleur film du moment à regarder en haute définition et en strraming ici </p>
      </div>
      <div class="scroll-box" *ngIf="tabFilm.length > 0 ; else otherScrollBox">
        <div class="movie" *ngFor="let item of tabFilm">
          <img class="img-intro" src={{item.Poster}} (click)="openModalDetail(item)">
        </div>
      </div>
    </div>
    <ng-template #otherScrollBox>
      <div class="scroll-box">
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
        <div class="movieCharge">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
      </div>
    </ng-template>

  </ion-card>

  <ion-card color="netfly-dark-tint">
    <div class="box-title">
      <h3>Action</h3>
      <p [routerLink]="['tv']">See all</p>
    </div>
    <div class="scroll-box">
      <div *ngIf="tabVideoAction.length > 0 ; else otherFilmAction">
        <div class="movie" *ngFor="let item of tabVideoAction">
          <img class="img-intro" src={{item.Poster}} (click)="openModalDetail(item)">
        </div>
      </div>
    </div>

    <ng-template #otherFilmAction>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
    </ng-template>
  </ion-card>
  <ion-card color="netfly-dark-tint">
    <div class="box-title">
      <h3>Horror</h3>
      <p [routerLink]="['movies']">See all</p>
    </div>
    <div class="scroll-box">
      <div *ngIf="tabVideoHorror.length > 0 ; else otherFilmHorror">
        <div class="movie" *ngFor="let item of tabVideoHorror">
          <img class="img-intro" src={{item.Poster}} (click)="openModalDetail(item)">
        </div>
      </div>
    </div>
    <ng-template #otherFilmHorror>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <div class="movieCharge">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
    </ng-template>

  </ion-card>

</ion-content>