
      <ion-header color="netfly-dark">
        <ion-toolbar color="netfly-dark">
          <ion-title>All Informations</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModalInfo()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content color="netfly-dark">
        <ion-card color="netfly-dark">
          <h5>Title</h5> <ion-label><p>{{currentVideo.Title}}</p></ion-label>
          <h5>Actors</h5> <ion-label><p>{{currentVideo.Actors}}</p></ion-label>
          <h5>Genre</h5> <ion-label><p>{{currentVideo.Genre}}</p></ion-label>
          <h5>BoxOffice</h5> <ion-label><p>{{currentVideo.BoxOffice}}</p></ion-label>
          <h5>Released</h5> <ion-label><p>{{currentVideo.Released}}</p></ion-label>
          <h5>Country</h5> <ion-label><p>{{currentVideo.Country}}</p></ion-label>
          <h5>Director</h5> <ion-label><p>{{currentVideo.Director}}</p></ion-label>
          <h5>Language</h5> <ion-label><p>{{currentVideo.Language}}</p></ion-label>
          <h5>Runtime</h5> <ion-label><p>{{currentVideo.Runtime}}</p></ion-label>
          <h5>Awards</h5> <ion-label><p>{{currentVideo.Awards}}</p></ion-label>
          <h5>Writer</h5> <ion-label><p>{{currentVideo.Writer}}</p></ion-label>
          <h5>Metascore</h5> <ion-label><p>{{currentVideo.Metascore}}</p></ion-label>
          <h5>Production</h5> <ion-label><p>{{currentVideo.Production}}</p></ion-label>
          <h5>Rated</h5> <ion-label><p>{{currentVideo.Rated}}</p></ion-label>
          <h5>Type</h5> <ion-label><p>{{currentVideo.Type}}</p></ion-label>
        </ion-card>
      </ion-content>
      
